<h4>Carga de nuevo Articulo</h4>

<strong>Nombre o Codigo:</strong>
<input type="text" ng-model="ADD.DES"><br>

<strong>Descripcion:</strong>
<input type="text" ng-model="ADD.DES2"><br>

<strong>Precio:</strong>
<input type="text" ng-model="ADD.PRECIO"><br>

<strong>Imagen:</strong>

<input type="file" id="FI" files-input ng-model="ADD.ARCH">

<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(ADD)">OK
        </button>
</div>
