<h4>Carga de nuevo Articulo</h4>

<strong>Nombre o Codigo:</strong>
<input type="text" ng-model="ADD.DES"><br>

<strong>Descripcion:</strong>
<input type="text" ng-model="ADD.DES2"><br>

<strong>Precio:</strong>
<input type="text" ng-model="ADD.PRECIO"><br>

<strong>Imagen:</strong>
<input type="file" ng-model="ADD.ARCH"><br>
{{ADD.DES}}


<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">OK
        </button>
</div>
<script type="text/javascript" src="add.js"></script>
