<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>


    <link  rel = "stylesheet"  href = "css/form.css">

    <link  rel = "stylesheet"  href = "css/ngDialog.min.css">
    <link  rel = "stylesheet"  href = "css/ngDialog-theme-default.min.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS de Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

    <title>Productos</title>
    <script src="js/angular.min.js"></script>

</head>

<body>
<div class="jumbotron" ng-controller="Formulario">
    <div id="result">ID= {{logID}}</div>
    <div ng-click="LOGOUT()">Logout</div>
    <div class="ng-cloak">
    <h2>BIENVENIDO! <br> ABM de Productos</h2>
        <div class="container-fluid">
            <h3>Alta Baja y Modificacion de Mis Productos Publicados</h3>


            <button ng-click="NVOART()">Agregar nuevo Articulo</button>

            <div>Tus Articulos guardados</div>
            <table border="1">
                <td>Imagen</td>
                <td>Articulo</td>
                <td>Detalle</td>
                <td>Precio</td>

                <tr ng-model="data" ng-repeat="x in DATA">

                    <td><a href="{{x.Hipervinculo}}">
                            <img src='{{x.B64}}' alt='image' width="80" height="80" border='0'>
                        </a>
                        <br/>
                    </td>

                    </td>

                    <td>{{x.DES}}</td>
                    <td>{{x.DES2}}</td>

                    <td>{{x.PRECIO}}</td>
                </tr>
            </table>
            <div>Click sobre el item para modificar propiedades del mismo.</div>



        </div>
    </div>


</div>



<!--script src="js/jquery-3.2.1.min.js"></script
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/jquery.datetimepicker.full.js"></script>-->

<script type="text/javascript" src="js/angular.min.js"></script>

<script src = "js/ngDialog.min.js"> </script>

<script src="js/jquery-3.2.1.min.js" type="application/javascript"></script>


<!--script  src = "js/jquery-validation/js/jquery.validate.js"> </script>

<script  src = "js/jquery-validation/js/additional-methods.js"> </script>
<script  src = "js/jquery-validation/js/localization/messages_ar.js"> </script-->

<script type="text/javascript" src="constantes.js"></script>
<script type="text/javascript" src="PRODUCTOS.js"></script>








</body>
</html>
